/* INTER */

@font-face {
	font-family: 'Inter';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-Italic-VariableFont_opsz-wght.woff2')
			format('woff2-variations'),
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-Italic-VariableFont_opsz-wght.woff')
			format('woff-variations');
	font-weight: 100 900; /* Adjust range if different */
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-VariableFont_opsz-wght.woff2')
			format('woff2-variations'),
		url('https://seerstudio.b-cdn.net/web-fonts/inter/Inter-VariableFont_opsz-wght.woff')
			format('woff-variations');
	font-weight: 100 900; /* Adjust range if different */
	font-style: normal;
	font-display: swap;
}

/* SOURCE SERIF 4 */

@font-face {
	font-family: 'Source Serif 4';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/source-serif-4/SourceSerif4-Italic-VariableFont_opsz-wght.woff2')
			format('woff2-variations'),
		url('https://seerstudio.b-cdn.net/web-fonts/source-serif-4/SourceSerif4-Italic-VariableFont_opsz-wght.woff')
			format('woff-variations');
	font-weight: 200 900; /* Standard range for Source Serif 4 */
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Source Serif 4';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/source-serif-4/SourceSerif4-VariableFont_opsz-wght.woff2')
			format('woff2-variations'),
		url('https://seerstudio.b-cdn.net/web-fonts/source-serif-4/SourceSerif4-VariableFont_opsz-wght.woff')
			format('woff-variations');
	font-weight: 200 900; /* Standard range for Source Serif 4 */
	font-style: normal;
	font-display: swap;
}

/* SPACE MONO */

/* Regular */
@font-face {
	font-family: 'Space Mono';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Regular.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Italic */
@font-face {
	font-family: 'Space Mono';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Italic.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Bold */
@font-face {
	font-family: 'Space Mono';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Bold.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Bold Italic */
@font-face {
	font-family: 'Space Mono';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-BoldItalic.woff2')
			format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/space-mono/SpaceMono-BoldItalic.woff')
			format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* OPEN SANS */

@font-face {
	font-family: 'Open Sans';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/open-sans/OpenSans-Italic-VariableFont_wdth-wght.woff2')
			format('woff2-variations'),
		url('https://seerstudio.b-cdn.net/web-fonts/open-sans/OpenSans-Italic-VariableFont_wdth-wght.woff')
			format('woff-variations');
	font-weight: 300 800; /* Standard weight range */
	font-stretch: 75% 100%; /* Standard width range */
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/open-sans/OpenSans-VariableFont_wdth-wght.woff2')
			format('woff2-variations'),
		url('https://seerstudio.b-cdn.net/web-fonts/open-sans/OpenSans-VariableFont_wdth-wght.woff')
			format('woff-variations');
	font-weight: 300 800; /* Standard weight range */
	font-stretch: 75% 100%; /* Standard width range */
	font-style: normal;
	font-display: swap;
}
